<html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- <script src=""></script> -->


<div style="float: left; margin: 30px; padding: 30px; border-right: 0.9px solid black;">
    <div>
        Create New Job
    </div>
    <form action="/api/v1/reserve-job" method="POST">
        <div>
            <input name='description' type="text", placeholder="description">
        </div>
        <div>
            <input name='duration' type="text", placeholder="duration">
        </div>
        <div>
            <input name='date' type="text", placeholder="date">
        </div>
        <div>
            <input name='device' type="text", placeholder="printer">
        </div>
        <div>
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>
        </div>
        
        <button type="submit">Print</button>
    </form>
    <form action="/api/v1/generate-job" method="POST">
        <button type="submit" name="generateButton">Generate Job</button>
    </form>
</div>

    <script>
        async function handleDeletePrint(e) {
            const id = e.target.id
            console.log(id)
            const url = '/api/v1/delete-job/'+id
            try {
                await axios.delete(url)
                location.reload()
            }
            catch(error) {
                console.error(error.toString())
                alert(error.toString())
            }
        }
    </script>

    <div style="float: left; width: 25%;">
        <% allJobs.forEach(p => { %>

            <div style="margin-left: 20px; margin-top: 10px; color: white; background-color: green; width:100%; text-align: center;">
                
                <!-- <div><%= p.username %></div> -->
                <!-- <div><%= p.description %></div> -->
                
                <!-- should show which jobs are current -->
                <div style="margin-top: 10px; padding: 10px; width: 80%; float: left; height: 100%; background-color: tomato;">
                    <div style="font-size: x-small; width:100%; text-align: right;">ID <%= p.id %></div>
                    <div style='width: 40%; float: left; text-align: right; padding-right: 2px;'>start -</div>
                    <div style='width: 60%; float: left; text-align: left; padding-left: 2px;'><%= p.date %></div>
                    <div style='width: 40%; float: left; text-align: right; padding-right: 2px;'>duration -</div>
                    <div style='width: 60%; float: left; text-align: left; padding-left: 2px;'><%= p.hours %> hrs <%= p.mins %> min</div>
                    
                    <div style='width: 40%; float: left; text-align: right; padding-right: 2px;'>printer -</div>
                    <div style='width: 60%; float: left; text-align: left; padding-left: 2px;'><%= p.device %></div>
                </div>
                <div style="margin-top: 10px; width: 20%; height: 100%; background-color: white; float: left;">
                    <button style="vertical-align:middle;" id="<%= p.id %>" onclick="handleDeletePrint(event)">x</button>
                </div>
            </div>
        <% }) %>
    </div>
</html>